body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: hsl(230, 63%, 87%);
}

.box {
    font-family: 'Outfit', sans-serif;
    margin: 20px;
    width: 25%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    background-color: aliceblue;
}

.images {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .box {
        max-width: 768px;
    }
}
