body {
    background-color: hsl(212, 45%, 89%);
}

.maincontainer {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 28.5rem;
    min-width: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.images {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 21px;
}

.container > p{
    text-align: center;
    color: gray;
}

